server:
  # Render가 주는 PORT 환경변수를 사용하고, 없으면(로컬 환경이면) 8080 포트를 사용
  port: ${PORT:8080}

spring:
  application:
    name: backend
  profiles:
    active: dev
  # Config Server 설정을 주석 처리하거나 제거
config:
 import: "configserver:https://config-server-f6jk.onrender.com"
cloud:
  config:
    enabled: false
    import-check:
      enabled: false